.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  gap: 35px;
  // margin-top: ;
  // grid-template-rows: repx, 3);
}

.peoplesListItem {
  margin-right: 15px;
  &:last-child {
    margin-right: 0px;
  }
}