.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 136px;
  grid-auto-rows: 136px;
  gap: 35px;
  // margin-top: ;
  // grid-template-rows: repx, 3);
}

.nextBtn {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  cursor: pointer;
  outline: none;
  border: none;
  background: #1F2A63;
  box-shadow: 2px 3px 5px rgba(33, 33, 33, 0.115);
  align-self: center;
  justify-self: center;
  font-size: 32px;
  color: #ebebeb;
}