.nextBtn {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  cursor: pointer;
  outline: none;
  border: none;
  background: #1F2A63;
  box-shadow: 2px 3px 5px rgba(33, 33, 33, 0.115);
  align-self: center;
  justify-self: center;
  font-size: 32px;
  color: #ebebeb;
}
