.wrapper {
  width: 100%;
  height: 93px;
  background-color: #1F2A63;
  padding: 10px;
  .logo {
    img {
      height: 100%;
    }
  }
  box-shadow: 0px 4px 16px rgba(1, 28, 64, 0.2);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
