.wrapper {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  background-color: #F28F16;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 9999;
  bottom: 74px;
  right: 74px;
  cursor: pointer;
}